/* Site-specific CSS for jessereitz.com */

body {
  padding: 0;
}

@media screen and (max-width: 650px) {
  .hover-card {
    max-width: 95%;
  }
}

section {
  border-bottom: 1px solid #fff;
  box-shadow: 0px 5px 15px 5px rgba(0,0,0,0.15);
  margin: 0;
  overflow:hidden;
  min-height: 100vh;
  width: 100%;
}

h2 {
  color: #fff;
  border-color: #fff;
}

#hero-section {
  height: 100vh;
  width: 100vw;
  max-width: 100vw;
  overflow: hidden;
  padding: 1em 1rem;
  background-image: url('https://jrweb-portfolio-files.s3.amazonaws.com/static/portfolio/images/cover2.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

#hero-section::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #0C1A29;
  opacity: 0.3;
  z-index: 0;
}

#hero-section_main {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

#hero-section h1 {
  font-size: 3em;
  line-height: 1.25em;
  color: white;
  margin-top: 0;
}

#hero-section_heading-name {
  display: inline-block;
  margin-top: 1em;
  margin-bottom: 0.5em;
  border-bottom: 1px solid #fff;
  padding-bottom: 0.5em;
}

#hero-section_heading-developer {
  display: block;
}

#hero-section_learn-more {
  margin-top: 25vh;
  text-align: center;
  animation: float-up 1s ease-out, bounce 2s infinite;
  font-weight: normal;
  border-bottom: none;
  transition: color 0.2s;
}

@media screen and (max-height: 400px) {
  #hero-section_learn-more {
    margin-top: 1em;
  }
}

#hero-section_learn-more a {
  border: none;
  font-weight: normal;
}

#hero-section_learn-more a:hover * {
  color: #B8CC73;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-0.5em);
  }
  50% {
    transform: translateY(0);
  }
  65% {
    transform: translateY(-0.3em);
  }
  90% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}

#aboutMe {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "hc hc img";
  padding: 0;
}

#aboutMe div {
}

#aboutMe img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

#about-me__hover-card__ctn {
  grid-area: hc;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#about-me__img__ctn {
  max-width: 100%;
  margin: 0;
  grid-area: img;
}

#experience {
  box-sizing: content-box;
  position:relative;
  overflow: auto;
}

@media screen and (max-width: 1000px) {
  #aboutMe {
    grid-template-columns: 1fr;
    grid-template-areas:
    "hc";
  }

  #about-me__img__ctn {
    display: none;
  }

  #about-me__img__ctn img {
    max-height: 30vh;
    max-width: 100%;
  }

  #experience {
    background: none;
  }

  #experience::before {
    display: none;
  }
}

#experience h2 {
  position: relative;
  z-index: 2;
}

#experienceCardCtn {
  position: relative;
  z-index: 2;
  width: 100%;
  max-width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1em;
  padding: 1em 1rem;
}

#experienceCardCtn .hover-card {
  position: relative;
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#experienceCardCtn .hover-card img {
  position: relative;
  z-index: 1;
  display: block;
  max-width: 100%;
  margin: 0;
}

@media screen and (max-width: 1450px) {
  #experienceCardCtn {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 1000px) {
  #experienceCardCtn {
    grid-template-columns: 1fr;
  }
}

.experience__hover-card__text {
  position: relative;
  z-index: 5;
  background: #fff;
  margin: 0;
  padding: 0;
  max-width: 100vw;
  box-shadow: 0px 0px 15px 3px rgba(0,0,0,0.1);
  overflow: auto;
  border-top: 1px solid #ddd;
}

.experience__hover-card__text h3 {
  display: inline-block;
  margin: 1em 1rem;
}

.experience__more-info {
  display: inline-block;
  width: auto;
  position: absolute;
  right: 1rem;
}

.experience__more-info:active {
  position: absolute;
}

.experience__hover-card__aux-ctn {
  position: relative;
  padding: 0;
  margin: 0;
  max-width: 100%;
}

.experience__hover-card__overlay {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  background: rgba(0,0,0,0.7);
  background: rgba(71, 109, 164, 0.5);
  background: linear-gradient(135deg, rgba(71, 109, 164, 0.85), rgba(71, 109, 164, 0.9), rgba(71, 109, 164, 1));
  margin: 0;
  padding: 1em 1rem;
  max-width: 100%;
  color: #fff;
  transition: top 0.2s;
  overflow: scroll;
}

.experience__hover-card__overlay::before {
  content: '';
  display: block;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(135deg, rgba(0,0,0,0.35), rgba(0,0,0,0.6), rgba(0,0,0,0.75));
}

.experience__hover-card__overlay__inner {
  padding: 0;
  max-width: 100%;
}

.experience__hover-card__overlay p {
  color: #fff;
}

.experience__hover-card__overlay__inner a.link-btn {
  display: inline-block;
  width: auto;
  margin: 1em 1rem;
  color: #fff;
  border-color: #fff;
}

.experience__hover-card__overlay__inner a.link-btn i {
  color: #fff;
}

.experience__hover-card__overlay a.link-btn:hover {
  transform: none;
}

form {
  box-shadow: none;
}

#contact h3 {
  font-size: 1.5em;
  border-bottom: 1px solid #98b0d2;
  margin-bottom: 1em;
}

.contact__inner-ctn {
  text-align: center;
  max-width: 100%;
  margin: 0;
  padding: 0 1rem;
}

.contact__inner-ctn .hover-card {
  display: inline-block;
  text-align: left;
  margin: 1em 1rem;
  vertical-align: top;
  max-width: 40%;
}

.contact__form-ctn {
  min-width: 25em;
}

@media screen and (max-width: 1048px) {
  .contact__inner-ctn .hover-card {
    display: block;
    max-width: 35em;
    margin: 1em auto;
    min-width: 0;
  }
}

.contact__social-btn-ctn {
  text-align: center;
}

.contact__social-btn-ctn .link-btn {
  margin: 0.5em 1rem;
}

@media screen and (max-width: 500px) {
  .contact__social-btn-ctn a.link-btn {
    display: block;
    width: 100%;
    margin: 1em auto;
  }
}

.contact__social-btn-ctn .link-btn:hover {
  transform: none;
}

footer {
  width: 100%;
  padding: 1.5em 1rem;
  text-align: center;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0,0,0,0.05), rgba(0,0,0,0.1), rgba(0,0,0,0.25));
}

.modal {
  display: none;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  max-width: 100%;
  margin: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.7);
  z-index: 100000000000;
}

.modal a.link-btn {
  color: #666;
  border-color: #666;
  box-shadow: none;
}

@media screen and (max-width: 500px) {
  .modal a.link-btn {
    display: block;
    margin: 1em 1rem !important;
    width: auto;
  }
}

.modal a.link-btn:hover {
  color: #fff;
  box-shadow: 2px 2px 5px 3px rgba(0,0,0,0.1);
}

.modal a.link-btn i {
  color: #666;
  transition: all 0.2s;
}

.modal a.link-btn:hover i {
  color: #fff;
}
